<style>

.bg-grey {
  background-color: #3F4450;
}

.btn-course {
   color: #FFF;
   border-color: #FFF;
}

 .btn-course:hover {
   color: grey;
   border-color: #FFF;
   background-color: #FFF;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transform 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}


</style>

<div class="container-fluid bg-grey pt-5 pb-5">

    <h1 class="text-white text-center">
      Free Courses
    </h1>

    <h4 class="text-white text-center mb-5">
      Browse our FREE open source catalogue
    </h4>

  <div id="courseCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto justify-content-center">
      {{#each data.courses.relevant}}
      <div class="carousel-item col-md-4 col-lg-3">
        {{>course-card-lg-horizontal course=this locale=../route.locale}}
      </div>
      {{/each}}
    </div>

    <a class="carousel-control-prev" href="#courseCarousel" role="button" data-slide="prev">
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
      <img src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/_index/arrow-circle-left.svg" />
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#courseCarousel" role="button" data-slide="next">
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
      <img src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/_index/arrow-circle-right.svg" />
      <span class="sr-only">Next</span>
    </a>

    <div class="text-center w-100 mt-2 mb-2">
      <a class="btn btn-outline-primary btn-lg btn-course" href='/learn-{{route.locale}}/courses'>View All Courses >
      </a>
    </div>

  </div>
</div>

<script>
$(document).ready(function() {
  var cardActive = $(".carousel-item")[0]
    $(cardActive).addClass("active")
})
$(document).ready(function() {
$("#courseCarousel").on("slide.bs.carousel", function(e) {
  var $e = $(e.relatedTarget);
  var idx = $e.index();
  var itemsPerSlide = 4;
  var totalItems = $(".carousel-item").length;

  if (idx >= totalItems - (itemsPerSlide - 1)) {
    var it = itemsPerSlide - (totalItems - idx);
    for (var i = 0; i < it; i++) {
      // append slides to end
      if (e.direction == "left") {
        $(".carousel-item")
          .eq(i)
          .appendTo(".carousel-inner");
      } else {
        $(".carousel-item")
          .eq(0)
          .appendTo($(this).find(".carousel-inner"));
      }
    }
  }
});
});
</script>
