<style >
  .carousel {
    background-color: grey;
    justify-content: center;
    align-items: center;
  }
  .carousel-inner {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
  }
  .carousel-item {
    justify-content: center;
    align-items: center;
  }
  .btn-course {
    color: #FFF;
    border-color: #FFF;
  }
  .btn-course:hover {
    color: grey;
    border-color: #FFF;
    background-color: #FFF;
  }
</style>

<div id="carouselExampleControls" class="carousel pt-5 pb-5 d-flex flex-column">
  <div class="row">
    <h1 class="text-white">Free Courses</h1>
  </div>
  <div class="row mb-4 text-white">
    <h4>Browse our FREE open source catalogue</h4>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active row d-flex flex-row">
         <!-- only one course returns from relevant at the moment -->
      <div class="d-sm-block">
        {{#each data.courses.relevant}}
            {{>course-card-lg-horizontal course=this locale=../route.locale}}
        {{/each}}
      </div>
      <div style="display: none" class="d-lg-block">
        {{#each data.courses.relevant}}
            {{>course-card-lg-horizontal course=this locale=../route.locale}}
        {{/each}}
      </div>
      <div style="display: none" class="d-xl-block">
        {{#each data.courses.relevant}}
            {{>course-card-lg-horizontal course=this locale=../route.locale}}
        {{/each}}
      </div>
    </div>
    <!-- <div class="carousel-item">

    </div>
    <div class="carousel-item">

    </div> -->
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <a class="btn btn-outline-primary btn-lg btn-course" href='/learn{{route.locale}}/courses'>View All Courses ></a>
</div>
