<style>
.inner {
  background-color: #FF5A00;
}
.title-white {
  color: #FFF;
}

</style>
<div class="container-fluid">
  <div class="inner row pt-6 pb-6 justify-content-center align-items-center">
      <div class="col-5">
        <img src="https://via.placeholder.com/200x200" alt="..." class="float-right mr-6"/>
      </div>
      <div class="col-6">

        <h1 class="title-white">
          LIVE Courses
        </h1>

        <h3 class="text-white">
          Want closer training with an instructor?
        </h3>

        <p class="text-white">
          What are live courses, how do they work and what do you get?
        </p>

        <a href="#" class="btn btn-outline-primary btn-lg btn-course">
          View LIVE Courses >
        </a>
      </div>
    </div>

</div>
