<div id="carousel-wrapper" class="container-fluid pt-5 pb-5">

    <h1 class="text-white text-center">
      Free Courses
    </h1>

    <h3 class="text-white text-center mb-5">
      Browse our FREE open source catalogue
    </h3>

  <div id="course-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto justify-content-center">
      {{#each data.courses.relevant}}
      <div class="carousel-item col-md-4 h-100 col-lg-3">
        {{>marketing-course-card-lg-horizontal course=this locale=../route.locale}}
      </div>
      {{/each}}
    </div>

    <a class="carousel-control-prev" href="#course-carousel" role="button" data-slide="prev">
      <img src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/_index/arrow-circle-left.svg" class="img-fluid"/>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#course-carousel" role="button" data-slide="next">
      <img src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/_index/arrow-circle-right.svg" class="img-fluid"/>
      <span class="sr-only">Next</span>
    </a>

    <div class="text-center w-100 mt-2 mb-2">
      <a class="btn btn-outline-primary btn-lg btn-courses" href='/learn-{{route.locale}}/courses'>View All Courses >
      </a>
    </div>

  </div>
</div>
{{>scripts}}
