<style>
.verified {
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.pink {
  color: #E7107A;
  font-weight: bold;
}
</style>
<div class="container-fluid">
  <div class="verified row pt-5 pb-5 ">
    <div class="col-4">
      <img src="https://via.placeholder.com/450x300" alt="..." class="float-right"/>
    </div>
      <div class="col-4">
        <span class="pink">GET VERIFIED</span>
        <h1>
          Employer-trusted & usable verified certification
        </h1>

        <h3 class="text-muted">
          Receive a certification that your employer can use
          during the hiring process with Master content and extensive practice sets
        </h3>

        <a href="#" class="btn btn-outline-primary btn-lg pt-3 pb-3 pl-6 pr-6">
          Try it now
        </a>
      </div>
    </div>

</div>
