<style>
  /* .container-fluid {
    display: flex;
    flex-direction: row;
  } */
</style>

<div class="container-fluid">
  <div class="row">
    {{> marketing-card}}
    {{> marketing-card}}
    {{> marketing-card}}
  </div>
</div>
