<style>
.instructor {
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
</style>
<div class="instructor container-fluid row pt-5 pb-5">
  <!-- <div class="instructor row pt-5 pb-5"> -->
      <div class="col-10 col-sm-4">

        <h1>
          Become an instructor
        </h1>

        <h3 class="text-muted">
          Become a certified EXLskills instructor and earn money by helping others with their questions.
        </h3>

        <a href="#" class="btn btn-outline-primary btn-lg pt-3 pb-3 pl-6 pr-6">
          Learn more
        </a>
      </div>
      <div style="display: none" class="col-4 d-sm-block">
        <img src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/_index/image-instructor.jpg" alt="..." class="img-fluid float-left"/>
      </div>
    <!-- </div> -->

</div>
