<style>
.git {
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.pink {
  color: #E7107A;
}
</style>
<div class="container-fluid">
  <div class="git row pt-5 pb-5 ">
    <div style="display: none" class="col-4 d-sm-block">
      <img src="learn-en/assets/img/marketing/git.png" alt="..." class="img-fluid float-right"/>
    </div>
      <div class="col-10 col-sm-4">
        <span class="pink">SUGGEST A COURSE</span>
        <h1>
          Found interesting content on Github?
        </h1>

        <h3 class="text-muted">
          Suggest a course you would like to see in our curriculum.
        </h3>

        <a href="#" class="btn btn-outline-primary btn-lg pt-3 pb-3 pl-6 pr-6">
          Learn more
        </a>
      </div>
    </div>

</div>
