<style>
.verified {
  background-color: #00BDE6;
  align-items: center;
  justify-content: center;
}
.pink {
  font-weight: bold;
}
</style>
<div class="container-fluid">
  <div class="verified row pt-6 pb-6 ">
    <div class="col-4">
      <img src="learn-en/assets/img/marketing/_index/image-getverified.jpg" alt="..." class="float-right"/>
    </div>
      <div class="col-4 ml-6">
        <span class="text-white">GET VERIFIED</span>
        <h1>
          Employer-trusted & usable verified certification
        </h1>

        <h3 class="text-white">
          Receive a certification that your employer can use
          during the hiring process with Master content and extensive practice sets
        </h3>

        <a href="#" class="btn btn-outline-light btn-lg pt-3 pb-3 pl-6 pr-6">
          Request Now!
        </a>
      </div>
    </div>

</div>
