<style>
.instructor {
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
</style>
<div class="container-fluid">
  <div class="instructor row pt-5 pb-5">
      <div class="col-4 mr-6">

        <h1>
          Become an instructor
        </h1>

        <h3 class="text-muted">
          Become a certified EXLskills instructor and earn money by helping others with their questions.
        </h3>

        <a href="#" class="btn btn-outline-primary btn-lg pt-3 pb-3 pl-6 pr-6">
          Learn more
        </a>
      </div>
      <div class="col-4">
        <img src="https://via.placeholder.com/450x300" alt="..." class="float-left"/>
      </div>
    </div>

</div>
