<style>
.newsletter {
  background-color: #3F4450;
  align-items: center;
  justify-content: center;
}
.pink {
  font-weight: bold;
}
</style>
<div class="container-fluid">
  <div class="newsletter row pt-5 pb-5 ">
    <div class="col-2">
      <img src="https://via.placeholder.com/200x200" alt="..." class="float-right"/>
    </div>
      <div class="col-4 ml-6">
        <h1 class="text-white">
          Join our newsletter
        </h1>

        <h3 class="text-white">
          We'll send as much as an email per month with the latest news and updates on free and decentralized education.
        </h3>
        <form>
          <div class="d-flex">
            <input id="newsletter-email" class="form-control h-auto mr-2" type="email"/>

            <a href="#" class="btn btn-primary btn-lg pt-3 pb-3 pl-5 pr-5" style="background-color: #00BDE6; border-color: #00BDE6;" >
              Subscribe
            </a>
          </div>
        </form>

      </div>
    </div>

</div>
