<style>
.git {
  background-color: transparent;
}
</style>
<div class="container-fluid git row p-5">
    <div class="col-4">
      <img src="https://exlskills.com/content/images/2018/09/exlskills-logo-pack-vector-01.png" alt="..." class="img-fluid mb-4 w-50 h-auto"/>
      <h3 class="text-muted">
        Develop your knowledge and skills with our courses that translate complicated ideas into simple concepts.
      </h3>
    </div>
      <div class="col-4">
        <div class="row d-flex flex-column">
          <h2 class="text-muted">
            INFORMATION
          </h2>

          <a href="#" class="text-muted h3">
            Home
          </a>
          <a href="#" class="text-muted h3">
            Products
          </a>
          <a href="#" class="text-muted h3">
            Company
          </a>
          <a href="#" class="text-muted h3">
            Legal
          </a>
        </div>
      </div>
      <div class="col-4 d-flex flex-column">

        <h2 class="text-muted">
          CONTACT US
        </h2>

        <span class="text-muted h4">
          Hong Kong:
        </span>
        <span class="text-muted">
          Office 12, 2/F, 40 Bonham Strand,
        </span>
        <span class="text-muted mb-3">
          Sheung Wan, Hong Kong
        </span>
        <span class="text-muted h4">
          United States:
        </span>
        <span class="text-muted">
          6 Liberty Square PMB #629 Boston, MA
        </span>
        <span class="text-muted mb-4">
          02109 United States
        </span>
        <span class="text-muted h4">
          Email:
        </span>
        <span class="text-muted mb-3">
          info@exlskills.com
        </span>
        <span class="text-muted h4">
          Hong Kong:
        </span>
        <span class="text-muted mb-3">
          +852 3001 0611
        </span>
        <span class="text-muted h4">
          United States (Toll-free):
        </span>
        <span class="text-muted">
          +1 (855) 233-5920
        </span>
      </div>

</div>
