<div id="sidebar-menu-content-wrapper" class="container-fluid">
    <!-- Collapse -->
    <div class="collapse navbar-collapse">
        {{>sidebar-menu-content}}
    </div>
</div> <!-- / .container-fluid -->
