<style>
.companies {
  background-color: #EEEEEE;
}
.bubble {
  background-color: #E7E7E7;
  border-radius: 3em;
}
</style>
<div class="container-fluid">
  <div class="companies row pt-5 pb-5 justify-content-center align-items-center">
      <div class="col-12 d-flex justify-content-center">
        <div class="text-center">
          <h1>
            Engineers from These Top Companies and Universities Trust EXLSkills
          </h1>
        </div>
      </div>
        <img style="display: none" class="img-fluid d-sm-block mb-4" src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/exlskills-user-logos-desktop.png" />
        <img style="display: block" class="img-fluid d-sm-none mb-4" src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/exlskills-user-logos-mobile.png" />
      <div class="bubble pt-3 pb-3 pl-5 pr-5">
        1M+ professionals | 100+ Institutions
      </div>
    </div>

</div>
