<div>
    <div class="card bg-light border">
        <div class="card-body text-center">
            <strong>
                <a href="#!modalAuthenticate">This page requires login. Click here to login/sign up.</a>
            </strong>
        </div>
    </div>
</div>
