<div>
    <div class="card bg-light border">
        <div class="card-body text-center">
            <strong>
                <a href="#!modalManageCoins">{{intlGet "messages.settings.billing_callout_link"}}</a>
            </strong>
        </div>
    </div>
</div>
