<!-- Form -->
<form class="mb-6">

    <div class="row">
        <div class="col-12">

            <!-- First name -->
            <div class="form-group">

                <!-- Label -->
                <label>
                    Headline
                </label>

                <small class="form-text text-muted">
                    Tell us a little about yourself, e.g., Software Engineer at ACME Corp.
                </small>

                <!-- Input -->
                <input id="user-profile-input-headline" maxlength="120" value="{{data.profile.headline}}" placeholder="Short sentence about yourself" type="text" class="form-control">

            </div>

        </div>
        <div class="col-12">

            <!-- First name -->
            <div class="form-group">

                <!-- Label -->
                <label>
                    Username
                </label>

                <small class="form-text text-muted">
                    A short unique handle for your profile
                </small>

                <!-- Input -->
                <input id="user-profile-input-username" maxlength="60" pattern="[A-Za-z0-9]" value="{{data.profile.username}}" placeholder="Only lowercase, without spaces, username" type="text" class="form-control">

            </div>

        </div>
        <div class="col-12 col-md-6">

            <!-- First name -->
            <div class="form-group">

                <!-- Label -->
                <label>
                    Full name
                </label>

                <small class="form-text text-muted">
                    This is the name we'll use to address you in our communications
                </small>

                <!-- Input -->
                <input id="user-profile-input-full_name" value="{{data.profile.full_name}}" type="text" class="form-control">

            </div>

        </div>
        <div class="col-12 col-md-6">

            <!-- Email address -->
            <div class="form-group">

                <!-- Label -->
                <label class="mb-1">
                    Email address
                </label>

                <!-- Form text -->
                <small class="form-text text-muted">
                    Email update is currently disabled, please contact support if you would like to update your email
                </small>

                <!-- Input -->
                <input id="user-profile-input-primary_email" style="cursor: not-allowed;" value="{{data.profile.primary_email}}" disabled placeholder="Email update is currently disabled" type="email" class="form-control">

            </div>

        </div>
        <div class="col-12 col-md-6">

            <!-- Phone -->
            <div class="form-group">

                <!-- Label -->
                <label>
                    Twitter Username
                </label>

                <small class="form-text text-muted">
                    Your Twitter handle, e.g., BillGates
                </small>

                <!-- Input -->
                <input id="user-profile-input-twitter" type="text" class="form-control mb-3" placeholder="Your Twitter username">

            </div>

        </div>
        <div class="col-12 col-md-6">

            <!-- Phone -->
            <div class="form-group">

                <!-- Label -->
                <label>
                    LinkedIn Username
                </label>

                <small class="form-text text-muted">
                    Your LinkedIn handle, e.g., williamhgates
                </small>

                <!-- Input -->
                <input id="user-profile-input-linkedin" type="text" class="form-control mb-3" placeholder="Your LinkedIn username">

            </div>

        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">
                Update Profile
            </button>
        </div>

    </div> <!-- / .row -->

    <!-- Divider -->
    <!--<hr class="mt-4 mb-5">-->

    <!--<div class="row">-->
        <!--<div class="col-12 col-md-6">-->

            <!--&lt;!&ndash; Public profile &ndash;&gt;-->
            <!--<div class="form-group">-->

                <!--&lt;!&ndash; Label &ndash;&gt;-->
                <!--<label class="mb-1">-->
                    <!--Public profile-->
                <!--</label>-->

                <!--&lt;!&ndash; Form text &ndash;&gt;-->
                <!--<small class="form-text text-muted">-->
                    <!--Making your profile public means that anyone on the Dashkit network will be able to find you.-->
                <!--</small>-->

                <!--<div class="row">-->
                    <!--<div class="col-auto">-->

                        <!--&lt;!&ndash; Switch &ndash;&gt;-->
                        <!--<div class="custom-control custom-switch">-->
                            <!--<input type="checkbox" class="custom-control-input" id="switchOne">-->
                            <!--<label class="custom-control-label" for="switchOne"></label>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="col ml-n2">-->

                        <!--&lt;!&ndash; Help text &ndash;&gt;-->
                        <!--<small class="text-muted">-->
                            <!--You're currently invisible-->
                        <!--</small>-->

                    <!--</div>-->
                <!--</div> &lt;!&ndash; / .row &ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="col-12 col-md-6">-->

            <!--&lt;!&ndash; Allow for additional Bookings &ndash;&gt;-->
            <!--<div class="form-group">-->

                <!--&lt;!&ndash; Label &ndash;&gt;-->
                <!--<label class="mb-1">-->
                    <!--Allow for additional Bookings-->
                <!--</label>-->

                <!--&lt;!&ndash; Form text &ndash;&gt;-->
                <!--<small class="form-text text-muted">-->
                    <!--If you are available for hire outside of the current situation, you can encourage others to hire you.-->
                <!--</small>-->

                <!--<div class="row">-->
                    <!--<div class="col-auto">-->

                        <!--&lt;!&ndash; Switch &ndash;&gt;-->
                        <!--<div class="custom-control custom-switch">-->
                            <!--<input type="checkbox" class="custom-control-input" id="switchTwo">-->
                            <!--<label class="custom-control-label" for="switchTwo"></label>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<div class="col ml-n2">-->

                        <!--&lt;!&ndash; Help text &ndash;&gt;-->
                        <!--<small class="text-muted">-->
                            <!--You're currently available-->
                        <!--</small>-->

                    <!--</div>-->
                <!--</div> &lt;!&ndash; / .row &ndash;&gt;-->
            <!--</div>-->

        <!--</div>-->
    <!--</div> &lt;!&ndash; / .row &ndash;&gt;-->

    <!--&lt;!&ndash; Divider &ndash;&gt;-->
    <!--<hr class="mt-4 mb-5">-->

    <!--<div class="row">-->
        <!--<div class="col-12 col-md-6 order-md-2">-->

            <!--&lt;!&ndash; Card &ndash;&gt;-->
            <!--<div class="card bg-light border ml-md-4">-->
                <!--<div class="card-body">-->

                    <!--<p class="mb-2">-->
                        <!--Password requirements-->
                    <!--</p>-->

                    <!--<p class="small text-muted mb-2">-->
                        <!--To create a new password, you have to meet all of the following requirements:-->
                    <!--</p>-->

                    <!--<ul class="small text-muted pl-4 mb-0">-->
                        <!--<li>-->
                            <!--Minimum 8 character-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--At least one special character-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--At least one number-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--Can’t be the same as a previous password-->
                        <!--</li>-->
                    <!--</ul>-->

                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="col-12 col-md-6">-->

            <!--&lt;!&ndash; Password &ndash;&gt;-->
            <!--<div class="form-group">-->

                <!--&lt;!&ndash; Label &ndash;&gt;-->
                <!--<label>-->
                    <!--Password-->
                <!--</label>-->

                <!--&lt;!&ndash; Input &ndash;&gt;-->
                <!--<input type="password" class="form-control">-->

            <!--</div>-->

            <!--&lt;!&ndash; New password &ndash;&gt;-->
            <!--<div class="form-group">-->

                <!--&lt;!&ndash; Label &ndash;&gt;-->
                <!--<label>-->
                    <!--New password-->
                <!--</label>-->

                <!--&lt;!&ndash; Input &ndash;&gt;-->
                <!--<input type="password" class="form-control">-->

            <!--</div>-->

            <!--&lt;!&ndash; Confirm new password &ndash;&gt;-->
            <!--<div class="form-group">-->

                <!--&lt;!&ndash; Label &ndash;&gt;-->
                <!--<label>-->
                    <!--Confirm new password-->
                <!--</label>-->

                <!--&lt;!&ndash; Input &ndash;&gt;-->
                <!--<input type="password" class="form-control">-->

            <!--</div>-->

            <!--&lt;!&ndash; Submit &ndash;&gt;-->
            <!--<button type="submit" class="btn btn-primary">-->
                <!--Update password-->
            <!--</button>-->

        <!--</div>-->
    <!--</div> &lt;!&ndash; / .row &ndash;&gt;-->

</form>
