<div>
    <div class="card bg-light border">
        <div class="card-body text-center">
            <strong>
                <a href="#!modalAuthenticate">{{intlGet "messages.authentication.page_requires_login_link"}}</a>
            </strong>
        </div>
    </div>
</div>
