<div>
    <div class="card bg-light border">
        <div class="card-body text-center">
            <strong>
                <a href="#!modalManageCoins">Click here to manage your billing preferences and EXLskills coins</a>
            </strong>
        </div>
    </div>
</div>
