node_modules
.DS_Store
.env

/config/*.js
/config/*.js.map
/controllers/*.js
/controllers/*.js.map
/lib/*.js
/lib/*.js.map
/routes/*.js
/routes/*.js.map
/utils/*.js
/utils/*.js.map
index.js
index.js.map

.idea


