<!doctype html>
<html>
<head>
{{> head}}
</head>
<body id="page-body">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-55LZMP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{> modals}}
{{> callout-top}}
<style>
    .co-show #callout-top {
        background-color: white;
    }
</style>
<div id="main-page-wrapper">
    <nav id="sidebar" class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
        {{> sidebar}}
    </nav>
    <div class="main-content bg-fixed-bottom" style="background-image: url(/learn-en/assets/img/illustrations/sticky.svg);">
        {{> topbar}}
        <div id="content">
            {{{body}}}
        </div>
    </div>
</div>
<!-- Include SPF in main template only, as it's not required in others -->
<script src="/learn-en/assets/libs/spfjs/spf.js"></script>
<script>
    spf.init();
</script>
{{> scripts}}
</body>
</html>
