<!doctype html>
<html>
<head>
{{> head}}
</head>
<body>
{{> modals}}
<nav id="sidebar" class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light">
    {{> sidebar}}
</nav>
<div class="main-content bg-fixed-bottom" style="background-image: url(/learn-en/assets/img/illustrations/sticky.svg);">
    {{> topbar}}
    <div id="content">
        {{{body}}}
    </div>
</div>
<script type="text/javascript">
    (function(a,e,f,g,b,c,d){a[b]=a[b]||function(){
        (a[b].q=a[b].q||[]).push(arguments)};
        c=e.createElement(f);d=e.getElementsByTagName(f)[0];c.async=1;c.src=g;
        d.parentNode.insertBefore(c,d)
    })(window,document,"script","//cdn.app.exitmonitor.com/em.js","em");

    em('set', 'campaign', '5bd750c23064330014020000');

</script>
{{> scripts}}
{{> ws-usi}}
</body>
</html>
