<!doctype html>
<html>
<head>
{{> head}}
</head>
<body id="page-body">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-55LZMP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{> modals}}
<!--{{> callout-top}}-->
<!--<style>-->
    <!--.co-show #callout-top {-->
        <!--background-color: white;-->
    <!--}-->
<!--</style>-->
<div id="topbar-wrapper">
    {{> topbar}}
</div>
<!-- if on course, then show sidebar, otherwise no -->
        <div id="main-page-wrapper" class="{{#if data.course}}exl-show-sidebar{{else}}exl-hide-sidebar{{/if}}">
    <nav id="sidebar" class="navbar navbar-vertical fixed-left navbar-expand-lg navbar-light">
        {{> sidebar}}
    </nav>
    <div class="main-content">
        <div id="content">
            {{{body}}}
        </div>
    </div>
</div>
<!-- Include SPF in main template only, as it's not required in others -->
<script src="/learn-en/assets/libs/spfjs/spf.js"></script>
<script>
    spf.init();
</script>
{{> scripts}}
</body>
</html>
