<!doctype html>
<html>
<head>
{{> head}}
</head>
<body>
{{> modals}}
<div class="main-content bg-fixed-bottom" style="background-image: url(/learn-en/assets/img/illustrations/sticky.svg);">
    {{> marketing-topbar}}
    <div>
      {{{body}}}
    </div>
</div>
{{> scripts}}
{{> ws-usi}}
</body>
</html>
