<!doctype html>
<style>

</style>

<html>
<head>
{{> head}}
</head>
<body>
{{> modals}}
  <div class="main-content" style="background-image: url(https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/_index/home-top-banner.jpg); background-attachment: fixed;
    background-position: bottom right;">
    {{> marketing-topbar}}
    <div>
      {{{body}}}
    </div>
  </div>
  {{> top-companies}}
  {{> marketing-cards}}
  {{> course-carousel}}
  {{> marketing-get-verified}}
  {{> marketing-instructor-card}}
  {{> marketing-github}}
  {{> marketing-newsletter}}
  {{> marketing-footer}}
  {{> scripts}}
  {{> ws-usi}}
</body>
</html>
