<!doctype html>
<style media="screen">
  /* .gradient {
    background: linear-gradient(#000, transparent);
  } */
</style>
<html>
<head>
{{> head}}
</head>
<body>
{{> modals}}



<div class="main-content bg-fixed-bottom" style="background-image: url(learn-en/assets/img/marketing/_index/home-top-banner.jpg);">
  <div class="gradient">
    {{> marketing-topbar}}
    <div>
      {{{body}}}
    </div>
    </div>
</div>
{{> top-companies}}
{{> marketing-cards}}
{{> course-carousel}}
{{> marketing-get-verified}}
{{> marketing-instructor-card}}
{{> marketing-github}}
{{> marketing-newsletter}}
{{> marketing-footer}}
{{> scripts}}
{{> ws-usi}}
</body>
</html>
