{{> course-top}}

<style>

</style>

<br/>
<!-- CONTENT -->
<div id="course-certificate-content" class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <!-- Title -->
                    <h4 class="card-header-title">
                        Get Certified, Get Employed
                    </h4>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="#!modalCheckout={{{encodeURI data.checkoutItemJSON}}}">
                    Launch Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
