{{> course-top}}

<style>

</style>

<br/>
<!-- CONTENT -->
<div class="container-fluid">
    Foobar!!!
    {{data.course.meta.title}}
    {{data.course.meta.headline}}
    {{data.course.meta.description}}
</div>