<style>
    .course-card-body pre code {
        border-radius: 5px;
        padding: 1.5rem;
    }
    .course-card-body iframe {
        border: none;
        margin-top: 24px;
        margin-bottom: 20px;
        background: #000
        url(https://s3-us-west-2.amazonaws.com/exlskills-misc-assets/iframe-loading.gif)
        center center no-repeat;
    }
    #course-content-card-wrapper .card-bottom-nav {
        margin: auto;
        padding-bottom: 8px;
    }
    @media (max-width: 768px) {
        /* Add margin when mobile to avoid conflict with the intercom overlay */
        #course-content-card-wrapper .card-bottom-nav {
            padding-bottom: 72px;
        }
    }
    .user-logos-container {
        text-align: center;
        padding: 0 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .user-logos-container h3 {
        margin-top: 30px;
    }

    .user-logos-container img {
        width: 100%;
    }

    #user-logos-mobile {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    @media (max-width:679px) {
        #user-logos-desktop {
            display: none;
        }
    }

    @media (min-width:680px) {
        #user-logos-mobile {
            display: none;
        }
    }
</style>

{{>course-card-banner}}

<!-- CONTENT -->
<div id="course-content-card-wrapper" class="container-fluid">
    <div class="row align-items-center">
        <!-- Title -->
        <div class="col">
            <h4 class="">
                {{data.course.meta.title}} - Overview
            </h4>
        </div>
        <div class="col-auto">
            <nav aria-label="course-card-pagination">
                <ul class="pagination">
                    {{>course-overview-pagination}}
                </ul>
            </nav>
        </div>
    </div>
    <div class="card">
        <!--<div class="card-header">-->
            <!--&lt;!&ndash; Title &ndash;&gt;-->
            <!--<h1 class="card-header-title">-->
                <!--{{data.course.meta.title}} - Overview-->
            <!--</h1>-->
        <!--</div>-->
        <div class="card-body course-card-body">
            <div class="user-logos-container">
                <h2>Engineers From These Top Companies and Universities Trust EXLskills</h2>
                <h3>1M+&nbsp;Professionals | 100+&nbsp;Institutions</h3>
                <img id="user-logos-desktop" src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/exlskills-user-logos-desktop.png">
                <img id="user-logos-mobile" src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/exlskills-user-logos-mobile.png">
                <br />
            </div>
            <hr />
            {{{markdown data.course.meta.description}}}

            <!-- NOTE: Hiding bookings here until find a solution to make them less intrusive -->
            <!--{{> course-booking course=data.course config=config user=user}}-->

            {{{markdown data.courseOverviewFaqMD}}}

            <h3>Have more questions?</h3>
            Feel free to reach out to us via <a id="ci-live-chat-help" href="#!">live chat here!</a>
            <script>
                $(function() {
                    $('#ci-live-chat-help').click(function() {
                        Intercom('show');
                    });
                });
            </script>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-auto card-bottom-nav">
            {{> course-overview-pagination}}
        </div>
    </div>
</div>

<script>
    // TODO
</script>
