{{> course-top}}

<style>

</style>

<br/>
<!-- CONTENT -->
<div class="container-fluid">
    <a class="btn btn-primary" href="#!modalManageCoins">
        Launch Coins
    </a>
    <a class="btn btn-primary" href="#!modalCheckout">
        Launch Checkout
    </a>
</div>