{{> course-top}}

<style>

</style>

<br/>
<!-- CONTENT -->
<div id="course-content-wrapper" class="container-fluid">
    <div class="row">
        <div>Fooboasekldfjklasdjfl;kasdf</div>
    </div>
</div>
