{{#if data.infiniteScrollRequest}}
    {{> course-card-inner}}
{{else}}
    <style>
        .course-card-body pre code {
            border-radius: 5px;
            padding: 1.5rem;
        }
        .course-card-body iframe {
            border: none;
            margin-top: 24px;
            margin-bottom: 20px;
            background: #000
            url(https://cdn-misc-assets.exlskills.com/iframe-loading.gif)
            center center no-repeat;
        }
        .course-card-body label {
            width: 100%;
        }
        #course-content-card-wrapper .card-bottom-nav {
            margin: auto;
            padding-bottom: 8px;
        }
        @media (max-width: 768px) {
            /* Add margin when mobile to avoid conflict with the intercom overlay */
            #course-content-card-wrapper .card-bottom-nav {
                padding-bottom: 72px;
            }
        }
    </style>
    <!-- CONTENT -->
    <div id="course-content-card-wrapper" class="container-fluid">
        {{> course-card-inner}}
    </div>

    <script>
        $(function() {
            var $courseContentWrapper = $("#course-content-card-wrapper");
            function appendTemplate(jsonre, pageNumber) {
                //instead of this code you can use a templating plugin like "Mustache"
                for(var i =0; i<jsonre.length; i++){
                    $courseContentWrapper.append("<div class='item'><h2>"+jsonre[i].name+"</h2><p>"+jsonre[i].body+"</p></div>");
                }

                if (jsonre.length) {
                    $courseContentWrapper.attr("data-page", parseInt(pageNumber)+1);
                    $(window).on("scroll", initScroll);

                    //scroll event will not trigger if window size is greater than or equal to document size
                    var dh = $(document).height() , wh = $(window).height();
                    if(wh>=dh){
                        initScroll();
                    }
                }  else {
                    $courseContentWrapper.attr("data-page", "");
                }
            }

            function initScroll() {
                var t = $courseContentWrapper.offset().top;
                var h = $courseContentWrapper.height();
                var ws = $(window).scrollTop();
                var dh = $(document).height();
                var wh = $(window).height();

                if (dh - (wh + ws) < dh - (h + t)) {
                    $(window).off('scroll');
                    var p = $courseContentWrapper.attr("data-page");
                    if (p) {
                        $.getJSON("https://jsonplaceholder.typicode.com/comments", { _page: p, _limit:3 }, function (jsonre) {
                            appendTemplate(jsonre, p);
                        });
                    }
                }
            }

            $.getJSON("https://jsonplaceholder.typicode.com/comments", { _page: 1, _limit:3 }, function (jsonre) {
                appendTemplate(jsonre,1);
            });

            var loadingMorePrevious = false;
            window.onwheel = function(evt) {
                if (!loadingMorePrevious && $(window).scrollTop() === 0 && evt.deltaY < -1) {
                    loadingMorePrevious = true;
                    console.log("PREPEND CONTENTTTT")
                }
            }
        });

    </script>
{{/if}}
