<style>

</style>

<br/>
<!-- CONTENT -->
<div class="container-fluid">
    <div class="row">
        {{#each data.digitalDiplomas}}
            {{>digital-diploma-card-lg-vertical diploma=this locale=../route.locale}}
        {{/each}}
    </div>
    <br />
    <br />
    <br />
</div> <!-- / .container-fluid -->
