<div id="bookingjs"></div>
<script src="https://cdn.timekit.io/booking-js/v2/booking.min.js" defer></script>
<script>
    window.timekitBookingConfig = {
        app_key: '{{{config.timekitPublicKey}}}',
        project_id: '8cf3f192-806d-4280-9993-0eae71203a43' // Change this!
    }
</script>
