<style>
#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

#marketing-content-splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  text-align: left;
  margin: 0em 0em .2em 0em;
  /* border: 1px solid pink; */
}

#marketing-content-splash .title {
  font-size: 3.6em;
  width: 100%;
  margin: 0em 0em .2em 0em;
}

#marketing-content-splash .subtitle {
  font-size: 1.5em;
  margin: 0 0 2em 0;
  color: white;
}


#marketing-content-splash .blue-title {
  color: white;
}

#marketing-content-splash .pink-title {
  color: #129EC1;
}

#btn-wrapper {
  width: 10vw;
}

#try-it {
  width: 150px;
}

#marketing-content-splash .no-login {
  margin-top: 1em;
  color: lightgrey;
  width: 150px;
  /* text-align: center; */
}

#marketing-content-header {
    margin-bottom: 0;
}
#marketing-content-header .hero-wrapper {
    height: 200px;
    width: 100%;
}
#marketing-content-header .hero {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/learn-en/assets/img/covers/content-cover-1.jpg') no-repeat;
    background-size: cover;
    background-position-y: 25%;
}
#marketing-content-header .header-avatar-top img {
    background-color: white;
}
#marketing-content-header .header-body {
    border: none;
}
#marketing-content-header .row.align-items-end {
    margin-top: 8px;
}
@media (min-width: 768px) {
    #marketing-content-header .row.align-items-end {
        margin-top: 14px;
    }
}
</style>

<body>
{{> modals}}
<!-- <div class="main-content bg-fixed-bottom" style="background-image: url(https://via.placeholder.com/1000x800);"> -->
    <div id="content">
      <div id="marketing-content-splash">
        <div class="title">
          <span class="blue-title">
            Free guided
          </span>
          <span class="pink-title">
            coding courses
          </span>
          <div class="blue-title">
            to improve your skills
          </div>
        </div>
        <div class="subtitle">
          <div>
            Become a certified expert developer with
          </div>
          <div>
            our tailored experience within your schedule,
          </div>
          <div>
            and your learning preferences
          </div>
        </div>
        <div id="btn-wrapper">
          <a id="try-it" class="btn btn-primary btn-lg" href="/learn{{route.locale}}/dashboard">
            Try it now
          </a>
          <div class="no-login">
            *No login required
          </div>
        </div>
      </div> <!-- #marketing-content-splash -->
    </div> <!-- #content ->>

{{> scripts}}
</body>
