<div class="main-content" style="background-image: url(https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/_index/home-top-banner.jpg); background-attachment: fixed; background-position: bottom right; background-size: cover;">
    {{> marketing/topbar}}
    <div>
        <div id="marketing-index-splash">
            <div class="container">

                <div class="title">
                    <div class="d-xl-flex flex-row">
                        <div class="white-title">
                            Free Professional&nbsp;
                        </div>
                        <div class="blue-title">
                            Technology Courses
                        </div>
                    </div>
                    <div class="white-title">
                        To Get You Hired A$AP
                    </div>
                </div>

                <div class="subtitle">
                    Join free Open Courses, build with Guided Projects,
                    and get hired through Digital Diplomas!
                </div>

                <div class="btn-wrapper">
                    <a class="btn btn-primary btn-lg pt-3 pb-3 pl-5 pr-5 btn-get-started" href="/learn-{{route.locale}}/dashboard">
                        Start Learning for FREE! <span class="fe fe-chevron-right" style="color: black;"></span>
                    </a>
                    <div class="no-login">
                        * No login required
                    </div>
                </div>

            </div> <!-- #marketing-content-splash -->
        </div> <!-- #content -->
    </div>
</div>
{{> marketing/top-companies}}
{{> marketing/cards}}
{{> marketing/course-carousel}}
{{> marketing/create-course}}
{{> marketing/get-verified}}
{{> marketing/instructor-card}}
{{> marketing/newsletter}}
