<body>
{{> modals}}
    <div id="marketing-index-splash">
      <div class="container">

        <div class="title">
          <span class="white-title">
            Free guided
          </span>
          <span class="blue-title">
            coding courses
          </span>
          <div class="white-title">
            to improve your skills
          </div>
        </div>

        <div class="subtitle">
            Become a certified expert developer with
            our tailored experience within your schedule,
            and your learning preferences
        </div>

        <div class="btn-wrapper">
          <a class="btn btn-primary btn-lg pt-3 pb-3 pl-5 pr-5 btn-try-it" href="/learn-{{route.locale}}/dashboard">
            Get started for FREE >
          </a>
          <div class="no-login">
            *No login required
          </div>
        </div>

      </div> <!-- #marketing-content-splash -->
    </div> <!-- #content -->
</body>

{{> scripts}}
