<style>
#content {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

#marketing-content-splash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: left;
  border: 1px solid pink;
}

#marketing-content-splash .title {
  font-size: 4em;
}

#marketing-content-splash .blue-title {
  color: #097FD0
}

#marketing-content-splash .pink-title {
  color: #E7107A
}

#marketing-content-header {
    margin-bottom: 0;
}
#marketing-content-header .hero-wrapper {
    height: 200px;
    width: 100%;
}
#marketing-content-header .hero {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/learn-en/assets/img/covers/content-cover-1.jpg') no-repeat;
    background-size: cover;
    background-position-y: 25%;
}
#marketing-content-header .header-avatar-top img {
    background-color: white;
}
#marketing-content-header .header-body {
    border: none;
}
#marketing-content-header .row.align-items-end {
    margin-top: 8px;
}
@media (min-width: 768px) {
    #marketing-content-header .row.align-items-end {
        margin-top: 14px;
    }
}
</style>

<body>
{{> modals}}
<!-- <div class="main-content bg-fixed-bottom" style="background-image: url(https://via.placeholder.com/1000x800);"> -->
    <div id="content">
      <div id="marketing-content-splash">
        <div class="title">
          <span class="blue-title">
            Free guided
          </span>
          <span class="pink-title">
            coding courses
          </span>
          <div class="blue-title">
            to improve your skills
          </div>
        </div>
      </div>
      {{courses}}
    </div>

{{> scripts}}
</body>
