<div id="carousel-wrapper" class="container-fluid p-5">

    <h1 class="text-white text-center">
        {{intlGet "messages.marketing.free_open_courses"}}
    </h1>

    <h3 class="text-white text-center mb-5" style="line-height: 1.6rem;">
        {{intlGet "messages.marketing.start_learning_today_free"}}
    </h3>

  <div>
      <div class="row justify-content-center">
          {{#each data.courses.relevant}}
              {{> course-card-lg-vertical course=this locale=../route.locale}}
          {{/each}}
      </div>

    <div class="text-center w-100 mt-2 mb-2">
      <a class="btn btn-outline-primary btn-lg btn-courses" href='/learn-{{route.locale}}/courses'>{{intlGet "messages.marketing.view_all_free_courses"}} <span class="fe fe-chevron-right"></span>
      </a>
    </div>

  </div>
</div>
