<div class="container-fluid">
  <div id="marketing-github" class="row pt-6 pb-6">

    <div style="display: none" class="col-4 d-sm-block">
      <img src="https://cdn-mktg.exlskills.com/site-assets/Github.svg" alt="..." class="img-fluid float-left"/>
    </div>

    <div class="col-10 col-sm-4">
      <span class="pink-title">{{intlGet "messages.course.create_course_caps"}}</span>
      <br />
      <br />
      <h1>
          {{intlGet "messages.course.want_to_start_your_own_course"}}
      </h1>

      <h3 class="text-muted mb-4">
          {{intlGet "messages.course.anyone_can_petition_line"}}
      </h3>

      <a href="https://github.com/exlskills/exlskills/issues/new?labels=new-course&title=New%20Course%20Suggestion" class="btn btn-outline-primary btn-lg pt-3 pb-3 pl-5 pr-5" target="_blank" rel="noopener">
          {{intlGet "messages.course.create_course"}}
      </a>
    </div>

  </div>
</div>
