<div class="container-fluid">
  <div id="marketing-get-verified" class="row pt-6 pb-6">

      <div class="col-2 col-sm-2">
        <img src="https://s3-us-west-2.amazonaws.com/exlskills-mktg-assets/site-assets/ico-color-verified.svg" alt="..." class="img-fluid float-right">
      </div>

      <div class="col-8 col-sm-5 mb-2">

        <span class="text-white title">GET EMPLOYED</span>
        <br>
        <br>

        <h1>
          Guaranteed Employment Opportunities
        </h1>

        <h3 class="text-white mb-4 col-xl-8 p-0">
          Apply early for an EXLskills Digital Diploma program to have the potential of being selected for a guaranteed employment program*
        </h3>

        <a href="#" data-toggle="modal" data-target="#modalCalloutLookingForJob" class="btn btn-outline-dark btn-lg pt-3 pb-3 pl-5 pr-5">
          Learn More
        </a>

          <div class="text-secondary small mt-2">* Final conditions of your enrollment offer apply</div>
      </div>

    </div>
</div>
