
<!-- Modal: Callout looking for a job -->
<div class="modal fade" id="modalCalloutLookingForJob" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-card card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="card-header-title">
                                Get a Tech Job With EXLskills&nbsp;🎓
                            </h4>

                        </div>
                        <div class="col-auto">

                            <!-- Close -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </div>

                <div class="card-body">
                    <!-- Coins Balance -->
                    <div>
                        <div class="col text-center">
                            <h2 style="margin-bottom: 10px;">Eligible Applicants Receive Guaranteed Job Placement With a Digital Diploma!* 🎓</h2>
                        </div>
                        <div class="col text-center">
                            <img src="/learn-en/assets/img/illustrations/happiness.svg" alt="..." class="img-fluid mb-4" style="max-width: 180px;">
                        </div>
                        <h3 class="text-center text-secondary">
                            When You Begin Your Early Application Today, It's Free!
                        </h3>
                        <form id="get-job-campaign-form">
                            <div class="form-row">
                                <div class="col-12 mb-3">
                                    <input type="email" placeholder="Your email address" class="form-control co-email-addr" required>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" class="btn btn-success w-100 text-center">Show Me How to Apply!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <small class="text-secondary mt-2">
                            * If accepted, final terms will be provided in your personal offer of enrollment
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal: Callout already have a tech job (want raise) -->
<div class="modal fade" id="modalCalloutLookingForRaise" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-card card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">

                            <!-- Title -->
                            <h4 class="card-header-title">
                                Earn a More Money With EXLskills&nbsp;🎓
                            </h4>

                        </div>
                        <div class="col-auto">

                            <!-- Close -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>
                    </div> <!-- / .row -->
                </div>

                <div class="card-body">
                    <!-- Coins Balance -->
                    <div>
                        <div class="col text-center">
                            <h2 style="margin-bottom: 10px;">Eligible Applicants Receive Guaranteed Salary Raise With a Digital Diploma!* 🎓</h2>
                        </div>
                        <div class="col text-center">
                            <img src="/learn-en/assets/img/illustrations/happiness.svg" alt="..." class="img-fluid mb-4" style="max-width: 180px;">
                        </div>
                        <h3 class="text-center text-secondary">
                            When You Begin Your Early Application Today, It's Free!
                        </h3>
                        <form id="get-raise-campaign-form">
                            <div class="form-row">
                                <div class="col-12 mb-3">
                                    <input type="email" placeholder="Your email address" class="form-control co-email-addr" required>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" class="btn btn-success w-100 text-center">Show Me How to Apply!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <small class="text-secondary mt-2">
                            * If accepted, final terms will be provided in your personal offer of enrollment
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        $("#get-job-campaign-form").submit(function(e) {
            e.preventDefault();
            var $self = $(this);
            subscribeToMailingList($("#" + $self.attr('id') + " .co-email-addr").val(), 'co_get_job_dd_sub_0', function() {
                $("#" + $self.attr('id') + " .co-email-addr").val("");
                $("#modalCalloutLookingForRaise").modal('hide');
                window.localStorage.setItem('techJobCalloutTopAction', 'co_get_job_dd_sub_0');
                window.localStorage.setItem('toastOnLoad', JSON.stringify({intent: 'success', message: 'Check your inbox for an email from EXLskills with information about our Digital Diploma program!', title: 'You\'re on your way!'}));
                window.location.reload();
            }, function() {
                toastr.error("Please make sure you entered a valid email address", "Oops, something went wrong!");
            });
            return false;
        });
    });
</script>

<script>
    $(function() {
        $("#get-raise-campaign-form").submit(function(e) {
            e.preventDefault();
            var $self = $(this);
            subscribeToMailingList($("#" + $self.attr('id') + " .co-email-addr").val(), 'co_get_raise_dd_sub_0', function() {
                $("#" + $self.attr('id') + " .co-email-addr").val("");
                $("#modalCalloutLookingForJob").modal('hide');
                window.localStorage.setItem('techJobCalloutTopAction', 'co_get_raise_dd_sub_0');
                window.localStorage.setItem('toastOnLoad', JSON.stringify({intent: 'success', message: 'Check your inbox for an email from EXLskills with information about our Digital Diploma program!', title: 'You\'re on your way!'}));
                window.location.reload();
            }, function() {
                toastr.error("Please make sure you entered a valid email address", "Oops, something went wrong!");
            });
            return false;
        });
    });
</script>
